:root {
    --cell-color: lightgrey;
    --cell-active-color: #141414;
}

.container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 640px;
    height: 640px;;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.cell {
    flex-wrap: wrap;
    flex: 1;
    margin: 2px;
    background-color: var(--cell-color);
}

.cell.active {
    background-color: var(--cell-active-color);
}